@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300..700&display=swap");
@import "tailwindcss";

#root {
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Signika Negative", sans-serif;
}

@theme {
  /* Mobile Range (320px to 480px) */
  --breakpoint-mobile-min: 320px;
  --breakpoint-mobile-max: 480px;
  /* Tablet / iPad Range (481px to 1024px) */
  --breakpoint-tablet-min: 481px;
  --breakpoint-tablet-max: 1024px;
  /* Laptop Range (1025px to 1366px) */
  --breakpoint-laptop-min: 1025px;
  --breakpoint-laptop-max: 1366px;
  /* Desktop / Large Monitor Range (1367px and above) */
  --breakpoint-desktop: 1367px;
}
